# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
OGCore/x64/
OSock/x64/
OSTLCore/x64/
OWCore/x64/
x64/
Release/
OWCore/Debug/
OSTLCore/Debug/
OSock/Debug/
OGOGL/Debug/
OGCore/Debug/
enc_temp_folder/
Debug/
*.vcxproj
*.filters
*.cmake
CMakeCache.txt
*.sln
CMakeFiles/
Makefile
bin/
app_pc/res/
