res/models/anvil.oiRM               RCDATA               "../app/res/models/anvil.oiRM"
res/models/cube.oiRM               RCDATA               "../app/res/models/cube.oiRM"
res/models/planets.json               RCDATA               "../app/res/models/planets.json"
res/models/quad.oiRM               RCDATA               "../app/res/models/quad.oiRM"
res/models/sphere.oiRM               RCDATA               "../app/res/models/sphere.oiRM"
res/models/sword.oiRM               RCDATA               "../app/res/models/sword.oiRM"
res/settings/input.json               RCDATA               "../app/res/settings/input.json"
res/shaders/cmi_lighting.compute.oiSH               RCDATA               "../app/res/shaders/cmi_lighting.compute.oiSH"
res/shaders/post_process.graphics.oiSH               RCDATA               "../app/res/shaders/post_process.graphics.oiSH"
res/shaders/simple.graphics.oiSH               RCDATA               "../app/res/shaders/simple.graphics.oiSH"
res/textures/osomi.png               RCDATA               "../app/res/textures/osomi.png"
res/textures/rock_dif.png               RCDATA               "../app/res/textures/rock_dif.png"
res/textures/water_dif.png               RCDATA               "../app/res/textures/water_dif.png"
res/textures/water_hgm.png               RCDATA               "../app/res/textures/water_hgm.png"
res/textures/water_met.png               RCDATA               "../app/res/textures/water_met.png"
res/textures/water_nrm.png               RCDATA               "../app/res/textures/water_nrm.png"
res/textures/water_rgn.png               RCDATA               "../app/res/textures/water_rgn.png"
LOGO               ICON               "res/app_pc.ico"
